.header, .section-1, .footer {
    background-color: #1F2937;
}

.section-3 {
    background-color: #E5E7EB;
}

* {
    margin: 0;
}

/* Header formatting*/
ul {
    list-style: none;
    padding: 0;
}

a, p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}